# One of these per mount, at ~/.config/rclone-mounts/<instance>.env
# (the instance is what goes after the @ in rclone-mount@<instance>).
REMOTE=GDrive:
MOUNT_POINT=/home/you/GDrive
VOLNAME=GDrive
LOG_FILE=/home/you/rclone-gd.log
RC_PORT=5572
